.front {

    h2 {
        font-size: 5rem;
        line-height: 5rem;
        margin-bottom: 2rem;
    }
    
    h3 {
        font-size: 2rem;
        line-height: 2rem;
        margin-bottom: 2rem;
    }

    p {
        font-size: 1.5rem;
        font-weight: normal;
        margin-bottom: 2rem;
    }
}

/* medium screens (md) */
@media (max-width: 992px) {

    .front {
        h2 {
            font-size: 4rem;
            line-height: 4rem;
            margin-bottom: 2rem;
        }
        
        h3 {
            font-size: 2rem;
            line-height: 2rem;
            margin-bottom: 2rem;
        }


        p {
            font-size: 1rem;
        }
        
    }

}

/* small screens (sm) */
@media (max-width: 768px) {
   
  
}

/* extra small screens (xs) */
@media (max-width: 576px) {

}