.front {

    h2 {
        font-size: 5rem;
        line-height: 5rem;
        margin-bottom: 2rem;
        color: red;
    }
    
    h3 {
        font-size: 2rem;
        line-height: 2rem;
        margin-bottom: 2rem;
        color: green;
    }
}

/* medium screens (md) */
@media (max-width: 992px) {

    .front {

        h2 {
            font-size: 4rem;
            line-height: 4rem;
            margin-bottom: 2rem;
            color: red;
        }
        
        h3 {
            font-size: 2rem;
            line-height: 2rem;
            margin-bottom: 2rem;
            color: green;
        }
    }

}

/* small screens (sm) */
@media (max-width: 768px) {

  
}

/* extra small screens (xs) */
@media (max-width: 576px) {

    

    .hero-heading {
        font-size: 4rem;
        line-height: 4rem;
    }

    .sub-heading {
        font-size: 2rem;
        line-height: 2rem;
    }

    .footer-heading {
        font-size: 2rem;
        line-height: 2rem;
    }
}