/* medium screens (md) */
@media (max-width: 992px) {
    .part {
        padding: 5rem 0;
    }

    .front {
        h2 {
            font-size: 4rem;
            line-height: 4rem;
            margin-bottom: 1rem;
        }
        
        h3 {
            font-size: 2rem;
            line-height: 2rem;
            margin-bottom: 1rem;
        }


        p {
            font-size: 1rem;
        }
        
    }
}

/* small screens (sm) */
@media (max-width: 768px) {

    .front {
        h2 {
            font-size: 3rem;
            line-height: 3rem;
            margin-bottom: 1rem;
            
        }
        
        h3 {
            font-size: 2.5rem;
            line-height: 2.5rem;
            margin-bottom: 0.5rem;
        }


        p {
            font-size: 0.8rem;
        }
        
    }

    .drone {
        
        flex-direction: column;

        .drone-text {
            text-align: center;
        }
    }

    .bridge {
        .content {
            width: 80%;
        }
    }

    .copyright {
        font-size: 0.8rem;
        
    }

    .chair {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .chair-det {
        text-align: center;
    }
}

/* extra small screens (xs) */
@media (max-width: 576px) {

    .bridge {
        text-align: center;
        .content {
            width: 100%;
        }

        .thumb {
            img {
                display: none;
            }
        }
    }

    .pockets {
        display: flex;
        align-items: start;
        justify-content: space-evenly;
        flex-direction: column;
    
        .pocket {
            h3 {
                font-size: 1.3rem;
                font-weight: bold;
                margin-bottom: 0.5rem;
            }
        
            p {
                font-size: 0.8rem;
            }
        }
    }

  

    

    .footer-heading {
        font-size: 2rem;
        line-height: 2rem;
    }
}