$mp-values: 1 2 3 4 5;

@each $value in $mp-values {
    .mb-#{$value} {
        margin-bottom: #{$value}rem;
    }
}

@each $value in $mp-values {
    .mt-#{$value} {
        margin-top: #{$value}rem;
    }
}

@each $value in $mp-values {
    .px-#{$value} {
        padding-left: #{$value}rem;
        padding-right: #{$value}rem;
    }
}

@each $value in $mp-values {
    .py-#{$value} {
        padding-top: #{$value}rem;
        padding-bottom: #{$value}rem;
    }
}