.chairs {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    align-items: center;   
}

.chair {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.chair-thumb {
    width: 250px;
    height: 250px;
    overflow: hidden;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: transform 0.6s ease;
        cursor: pointer;

        &:hover {
            transform: scale(1.2);
        }
    }

}

.chair-det {

    text-align: left;

    h3 {
        cursor: pointer;
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

}